<% layout("layouts/boilerplate") %>

<body>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <h1 class="mb-4 text-center">Login For TravelNest</h1>

                <form method="post" action="/login" novalidate class="custom-form needs-validation">
                    
                    <!-- Username -->
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username" required>
                        <div class="invalid-feedback">Please enter a username.</div>
                    </div>

                    <!-- Password -->
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password" required>
                        <div class="invalid-feedback">Please enter a password.</div>
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-success w-100">Log in</button>
                </form>
            </div>
        </div>
    </div>
</body>
